#calculater {
  border: 1px solid rgb(132, 130, 130);
  border-radius: 5px;
  width: 200px;
  justify-content: center;
}
#display {
  margin: 10px;
  width: 84%;
  font-size: 27px;
  justify-content: center;
}
.button-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.cal-button {
  width: 46px;
  height: 46px;
  margin: 4px;
  cursor: pointer;
  background-color: yellowgreen;
  color: black;
}
